body {
  color: black;
  background-color: white;
  background-image: url("xsf.svg");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: Georgia;
}

h1 {
  margin-left: 10px;
  color: darkblue;
  font-style: italic;
}

h2 {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid darkblue;
  padding: 2px 5px 2px 5px;
  page-break-before: always;
}
/* No need to put only a h1 on a single page */
h1 + p + h2,
h1 + h2 {
  page-break-before: avoid;
}

h3 {
  margin-left: 30px;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

ul {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

ol {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

pre {
  margin-left: 60px;
}

code {
  color: darkred;
  font-weight: bold;
}

code, pre {
  font-family: FreeMono;
}

/* Assume it's the author(s) paragraph */
h1 + p {
  text-align: right;
  margin-bottom: 40px;
}
